main {
  height: 400vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.container {
  width: 200px;
  height: 200px; 
  border: 2px solid white;
}

.nine {
  margin-left: 200vw;
}

